<?xml version="1.0"?>
<configuration>
  <sitecore>
    <services>
      <!--Register the configurator:-->
      <configurator type= "Sitecore.Foundation.DependencyInjection.MyServicesConfigurator, Sitecore.Foundation.DependencyInjection"/>
      <!--Register your services here!-->
      <!--example
      <register serviceType="IMyService, MyAbstraction.Assembly" implementationType="MyServiceImplementation, MyImplementation.Assembly" />
      <register serviceType="MyServiceBase, MyAbstraction.Assembly" implementationType="MyServiceBaseImplementation, MyImplementation.Assembly" />
        -->
    </services>
  </sitecore>
</configuration>
