<?xml version="1.0"?>
<configuration>
  <sitecore>
    <services>
      <register serviceType="IMyService, MyAbstraction.Assembly" implementationType="MyServiceImplementation, MyImplementation.Assembly" />
      <register serviceType="MyServiceBase, MyAbstraction.Assembly" implementationType="MyServiceBaseImplementation, MyImplementation.Assembly" />
    </services>
  </sitecore>
</configuration>

<!-- do i need this class?-->
