
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Website" description="Website Project Serialization" dependencies="Foundation.*,Feature.*">
          <targetDataStore physicalRootPath="C:\Sitecore\Websites\HelixTest\src\project\website\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Website" />
            <include name="Templates" database="master" path="/sitecore/templates/Website" />
             <!--
            <include database="master" path="/sitecore/system/Languages" />
            <include database="master" path="/sitecore/system/Tasks">
              <exclude path="Schedules" />
            </include>
            <include database="master" path="/sitecore/system/Workflows" />
            <include database="master" path="/sitecore/system/Settings" />
            -->
          </predicate>
          <predicate fieldTransforms=";Title,:Text,!Include In Sitemap,+Api Endpoint[{$apiEndPoint$}],?Default Product">
            <include name="Sample Data" database="master" path="/sitecore/content/global/sample" fieldTransforms="-Title" /> /* Predicate transforms apply, but "Title" gets ignored on this include definition */
          </predicate>
          <predicate>
            <include role:require="Standalone" name="Sample Data" database="master" path="/sitecore/content/global/sample" fieldTransforms="!Workflow,!Workflow State" />
            <include role:require="ContentManagement" name="Sample Data" database="master" path="/sitecore/content/global/sample" fieldTransforms="+Workflow[{2DE02B52-B95F-404A-A955-C36B290F1B57}],+Workflow State[{5ACE9C7F-8A18-4C77-BC30-03BE5A40E6B6}]"/>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
