<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <sites>
      <site name="ExampleHome" patch:after="site[@name='modules-website']"
            database="web"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/All Sites/Main site/example/Example Home"
            startItem="/ExampleHome"
            />
      
    </sites>
  </sitecore>
</configuration>
