<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Example" description="Example Project Serialization" dependencies="Foundation.Serialization, Foundation.MultiTenant">
          <targetDataStore physicalRootPath="C:\Sitecore\Websites\HelixTest\src\Project\Example\serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Content" database="master" path="/sitecore/Content" />
            <include name="Templates" database="master" path="/sitecore/Templates/Project/Example" />
          </predicate>
          <predicate fieldTransforms=";Title,:Text,!Include In Sitemap,+Api Endpoint[{$apiEndPoint$}],?Default Product">
            <include name="Sample Data" database="master" path="/sitecore/content/global/sample" fieldTransforms="-Title" /> /* Predicate transforms apply, but "Title" gets ignored on this include definition */
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
