<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Website" description="Project Website" dependencies="Foundation.*" extends="Helix.Project">
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>